<div class="goal-radio-tile-group">
  <div class="input-container">
    <%= f.radio_button :today_goal, 1, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">1</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 2, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">2</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 3, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">3</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 4, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">4</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 5, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">5</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 6, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">6</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 7, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">7</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 8, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">8</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 9, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">9</div>
    </div>
  </div>
    <div class="input-container">
    <%= f.radio_button :today_goal, 10, class: 'radio-button' %>
    <div class="radio-tile">
      <div class="hour-number">10</div>
    </div>
  </div>
</div>